
<nav class="navbar navbar-expand-md bg-body-tertiary justify-content-center">
    <div class="container">
      <a class="navbar-brand" href="#" ><img alt="logo" src="../../../assets/img/MicrosoftTeams-image.png" width="100"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="list-item-active" style="font-size:2 ;"> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/aboutus">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contactus">ContactUs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/faqs">FAQs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/add-recipe">Post Recipe</a>
          </li>
          <li class="nav-item" *ngIf="authUser!= null">
            <a class="nav-link" (click)="onLogout()">Log Out</a>
          </li>
          <li class="nav-item" *ngIf="authUser== null">
            <a class="nav-link" routerLink="/signin" >LogIn|registor</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>

  