<div class="container">
    <form class="example-form" #catagoryForm="ngForm" (ngSubmit)="onUpdateSubmit()">
        <div class="form-Group">
            <label for="id" class="form-label">Category ID</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="category.id" disabled>
        </div>
        <div class="form-Group">
            <label for="name" class="form-label">Category Name</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="category.name" required>
        </div>
        <div class="form-Group">
            <label for="description" class="form-label">Category Description</label>
            <input type="text" class="form-control" id="description" name="description"
                [(ngModel)]="category.description" required>
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>