<div class="container my-5">
    <div class="card" style="width: 50rem; padding: 20px;">
        <form class="example-form" #unitofMeasureForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-Group">
                <label for="name" class="form-label">Unit OF Measure</label>
                <input type="text" class="form-control" id="name"  name="name" #name="ngModel" [(ngModel)]="uom.name" placeholder="please enter unit of measure here!" required>
                <mat-error  *ngIf="name.touched && name.hasError('required')"  class="text-danger">This field is requred!</mat-error>
               
                <button mat-button type="submit" class="btn btn-primary my-3" [disabled]="!unitofMeasureForm.valid" >Submit</button>

            </div>
        </form>
    </div>
</div>