<div class="container my-5">
    <div class="col-6 mx-auto mb-5">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
    </div>
    <div class="row">
        <div class="card">
            <img src="https://www.simplyrecipes.com/thmb/Qi1Jzqz_FhFTT_1teRo33UgUXdo=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Simply-Recipes-One-Pot-Taco-Pasta-LEAD-10-e29b5d7e069f4395a10b730d95e72fd5.jpg"
                hight="200" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary col-12">View Daitals</a>
            </div>
        </div>

        <div class="card">
            <img src="https://www.simplyrecipes.com/thmb/Wb_pEprUg4DVSjBposETMmlhP5c=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Simply-Recipes-Buffalo-Chicken-Tacos-LEAD-2-bc08e06aff4c4970b0beabd80287356c.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                    <a href="#" class="btn btn-primary col-12">View Daitals</a>
                </div>
        </div>
        <div class="card">
            <img src="https://www.simplyrecipes.com/thmb/UkIrLQ7qwc-TQBM419aFSPYGcHk=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/SimplyRecipes_MillionDollarPie_LEAD_5-848763b14d5f46e986b926daf3e06c90.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                    <a href="#" class="btn btn-primary col-12">View Daitals</a>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <img src="https://www.simplyrecipes.com/thmb/Qi1Jzqz_FhFTT_1teRo33UgUXdo=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Simply-Recipes-One-Pot-Taco-Pasta-LEAD-10-e29b5d7e069f4395a10b730d95e72fd5.jpg"
                hight="200" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                    <a href="#" class="btn btn-primary col-12">View Daitals</a>
                </div>
        </div>

        <div class="card">
            <img src="https://www.simplyrecipes.com/thmb/Wb_pEprUg4DVSjBposETMmlhP5c=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Simply-Recipes-Buffalo-Chicken-Tacos-LEAD-2-bc08e06aff4c4970b0beabd80287356c.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                    <a href="#" class="btn btn-primary col-12">View Daitals</a>
                </div>
        </div>
        <div class="card">
            <img src="https://www.simplyrecipes.com/thmb/UkIrLQ7qwc-TQBM419aFSPYGcHk=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/SimplyRecipes_MillionDollarPie_LEAD_5-848763b14d5f46e986b926daf3e06c90.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                    <a href="#" class="btn btn-primary col-12">View Daitals</a>
                </div>
        </div>
    </div>
</div>