* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body,html {
    height: 100%;
    font-family: Poppins-Regular,sans-serif
}

a {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666;
    margin: 0;
    transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s
}

a:focus {
    outline: none!important
}

a:hover {
    text-decoration: none
}

h1,h2,h3,h4,h5,h6 {
    margin: 0
}

p {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666;
    margin: 0
}

ul,li {
    margin: 0;
    list-style-type: none
}

@media(max-width: 768px) {
    .rs1-wrap-input100 {
        width:100%
    }
}

@media(max-width: 576px) {
    .wrap-contact100 {
        padding:62px 15px 90px
    }

    .wrap-input100 {
        padding: 10px 10px 9px
    }
}

.validate-input {
    position: relative
}

.alert-validate::before {
    content: attr(data-validate);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    min-height: 40px;
    background-color: #f7f7f7;
    top: 35px;
    left: 0;
    padding: 0 45px 0 22px;
    pointer-events: none;
    font-family: Montserrat-SemiBold;
    font-size: 18px;
    color: #fa4251;
    line-height: 1.2
}

.btn-hide-validate {
    font-family: Material-Design-Iconic-Font;
    font-size: 18px;
    color: #fa4251;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 35px;
    right: 12px
}

.rs1-alert-validate.alert-validate::before {
    background-color: #fff
}

.true-validate::after {
    content: "\f26b";
    font-family: Material-Design-Iconic-Font;
    font-size: 18px;
    color: #00ad5f;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 35px;
    right: 10px
}

@media(max-width: 576px) {
    .alert-validate::before {
        padding:0 10px
    }

    .true-validate::after,.btn-hide-validate {
        right: 0;
        width: 30px
    }
}

.select2-container {
    display: block;
    max-width: 100%!important;
    width: auto!important
}

.select2-container .select2-selection--single {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    height: 40px;
    outline: none;
    position: relative
}

.select2-container .select2-selection--single .select2-selection__rendered {
    font-family: Montserrat-SemiBold;
    font-size: 18px;
    color: #555;
    line-height: 1.2;
    padding-left: 0;
    background-color: transparent
}

