.label-radio100::after {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 6px solid transparent;
    background: #00ad5f;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: none
}

.input-radio100:checked+.label-radio100::after {
    display: block
}

.wrap-contact100-form-range {
    width: 100%;
    padding: 20px 25px 57px
}

.contact100-form-range-value {
    font-family: Montserrat-SemiBold;
    font-size: 18px;
    color: #555;
    line-height: 1.2;
    padding-top: 10px;
    padding-bottom: 30px
}
.contact100-form-range-value input {
    display: none
}

#filter-bar {
    height: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 9px;
    background-color: #f7f7f7
}

#filter-bar .noUi-connect {
    border: 1px solid #e6e6e6;
    border-radius: 9px;
    background-color: #00ad5f;
    box-shadow: none
}

#filter-bar .noUi-handle {
    width: 40px;
    height: 36px;
    border: 1px solid #ccc;
    border-radius: 9px;
    background: #f5f5f5;
    cursor: pointer;
    box-shadow: none;
    outline: none;
    top: -8px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center
}

#filter-bar .noUi-handle.noUi-handle-lower {
    left: -1px
}

#filter-bar .noUi-handle.noUi-handle-upper {
    left: -39px
}

#filter-bar .noUi-handle:before {
    content: "";
    display: block;
    position: unset;
    height: 12px;
    width: 9px;
    background-color: transparent;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc
}

#filter-bar .noUi-handle:after {
    display: none
}

@media(max-width: 576px) {
    .wrap-contact100-form-range {
        padding:20px 0 57px
    }

    .wrap-contact100-form-radio {
        padding: 15px 0 0
    }
}
.container-cont{
    justify-content: center;
    align-items: center;
    padding: 15px;
   display: flex;

    
}