<!-- <div class="container my-5">
    <a [routerLink]=" '/admin/inbox' " class="btn btn-primary mb-5">Go Back</a>
    <div class="card" style="width: 25rem;">
        <div class="card-body">
            <h5 class="card-title">{{contactDetail.id}} {{contactDetail.subject}}</h5>
            <p class="card-text">{{contactDetail.message}}</p>
            <p class="card-text"><small class="text-muted">Last updated on {{contactDetail.createdOn}}</small></p>
            <a class="btn" (click)="onReplyClick()"><i class="fa-solid fa-reply"></i> Reply </a>
            <form [ngStyle]="{'display': display}" (ngSubmit)="onSubmit()" #replyForm="ngForm">
                <div class="mb-3">
                    <label for="message" class="form-label">Message</label>
                    <textarea class="form-control" id="message" rows="3" [(ngModel)]="reply.message"
                        name="message"></textarea>
                </div>
                <button class="btn btn-primary">send</button>

            </form>
            <span class="badge bg-success" [ngStyle]="{'display': alertDisply}">Message Sent</span>
        </div>

    </div>
</div> -->


<div class="container">
    <div class="row inbox-wrapper">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 email-aside border-lg-right">
                            <div class="aside-content">
                                <div class="aside-header">
                                    <button class="navbar-toggle" data-target=".aside-nav" data-toggle="collapse"
                                        type="button"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg"
                                                width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" class="feather feather-chevron-down">
                                                <polyline points="6 9 12 15 18 9"></polyline>
                                            </svg></span></button><span class="title">Mail Service</span>
                                    <p class="description">suport@recipe.com</p>
                                </div>
                                <div class="aside-compose"><a class="btn btn-primary btn-block"
                                        routerLink="/admin/compose-email">Compose Email</a></div>
                                <div class="aside-nav collapse">
                                    <ul class="nav">
                                        <li class="active"><a [routerLink]=" '/admin/inbox' "><span class="icon"><svg
                                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                        viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                        class="feather feather-inbox">
                                                        <polyline points="22 12 16 12 14 15 10 15 8 12 2 12"></polyline>
                                                        <path
                                                            d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z">
                                                        </path>
                                                    </svg></span>Inbox<span
                                                    class="badge badge-danger-muted text-black font-weight-bold float-right">{{countInbox}}</span></a>
                                        </li>
                                        <li><a href="#"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg"
                                                        width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round" class="feather feather-mail">
                                                        <path
                                                            d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z">
                                                        </path>
                                                        <polyline points="22,6 12,13 2,6"></polyline>
                                                    </svg></span>Sent Mail</a></li>
                                        <li><a><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                        height="24" viewBox="0 0 24 24" fill="none"
                                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round" class="feather feather-briefcase">
                                                        <rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect>
                                                        <path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path>
                                                    </svg></span>All Email<span
                                                    class="badge badge-info-muted text-black font-weight-bold float-right">{{countAll}}</span></a>
                                        </li>

                                        <li><a routerLink="/admin/favorite"><span class="icon"><svg
                                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                        viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                        class="feather feather-star">
                                                        <polygon
                                                            points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                                        </polygon>
                                                    </svg></span>Favorite <span
                                                    class="badge badge-info-muted text-black font-weight-bold float-right">{{countFavorite}}
                                                </span></a></li>
                                        <li><a routerLink="/admin/trash"><span class="icon"><svg
                                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                        viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                        class="feather feather-trash">
                                                        <polyline points="3 6 5 6 21 6"></polyline>
                                                        <path
                                                            d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                                        </path>
                                                    </svg></span>Trash<span
                                                    class="badge badge-info-muted text-black font-weight-bold float-right">{{countTrash}}</span></a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 email-content">
                            <div class="email-head">
                                <div class="email-head-subject">
                                    <div class="title d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">

                                        </div>
                                        <div class="icons" style="float:right !important;">

                                            <a href="#" class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-printer text-muted" data-toggle="tooltip"
                                                    title="" data-original-title="Print">
                                                    <polyline points="6 9 6 2 18 2 18 9"></polyline>
                                                    <path
                                                        d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2">
                                                    </path>
                                                    <rect x="6" y="14" width="12" height="8"></rect>
                                                </svg></a>
                                            <a (click)="onTrashclick(contactDetail.id, false)" class="icon" style="cursor: pointer;"
                                                *ngIf="contactDetail.isDeleted == true">
                                                <i class="fa-solid fa-trash-can-arrow-up"></i>
                                                </a>
                                            <a (click)="onTrashclick(contactDetail.id, true)" class="icon" style="cursor: pointer;"
                                                *ngIf="contactDetail.isDeleted == false">
                                                <i class="fa-solid fa-trash"></i>   
                                                <!-- <i class="fa-regular fa-trash-can"></i> -->

                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="email-head-sender d-flex align-items-center justify-content-between flex-wrap">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Avatar"
                                                class="rounded-circle user-avatar-md">
                                        </div>
                                        <div class="sender d-flex align-items-center">
                                            <a>{{contactDetail.fullName}}</a> <span>to</span><a> me</a>
                                            <div class="actions dropdown">
                                                <a class="icon" data-bs-toggle="dropdown"><svg
                                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                        viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                        class="feather feather-chevron-down">
                                                        <polyline points="6 9 12 15 18 9"></polyline>
                                                    </svg></a>
                                                <div class="dropdown-menu" role="menu">
                                                    <button class="dropdown-item"
                                                        (click)="isRead(contactDetail.id, true)"
                                                        [disabled]="contactDetail.isViewed"> <i
                                                            class="fa-solid fa-envelope-open"></i>
                                                        <span class="vr"></span> Mark as read</button>
                                                    <button class="dropdown-item"
                                                        (click)="isRead(contactDetail.id, false)"
                                                        [disabled]="contactDetail.isViewed == false"> <i
                                                            class="fa-solid fa-envelope"></i> <span class="vr"> </span>
                                                        Mark as unread</button>
                                                    <div class="dropdown-divider"></div>
                                                    <button class="dropdown-item text-danger"
                                                        [disabled]="contactDetail.isDeleted"
                                                        (click)="onDeleteStatus(contactDetail.id, true)"><i
                                                            class="fa-solid fa-trash"></i><span class="vr">
                                                        </span>Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="date">{{currentDate|date}}
                                        <a class="btn" (click)="updateFavoriteStatus(contactDetail.id,true)"
                                            title="favorite" *ngIf="contactDetail.isFavorite == false"><i
                                                class="fa-regular fa-star"></i></a>
                                        <a class="btn" (click)="updateFavoriteStatus(contactDetail.id,false)"><i
                                                class="fa-solid fa-star" title="unfavorite"
                                                *ngIf="contactDetail.isFavorite == true"></i></a>
                                        <a class="btn" (click)="onReplyClick()"><i class="fa-solid fa-reply"></i> Reply
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <div class="email-body">
                                <p class="card-text">{{contactDetail.message}}</p>
                                <p><br> {{contactDetail.fullName}}</p>
                            </div>

                            <div class="email-reply">
                                <form [ngStyle]="{'display': display}" (ngSubmit)="onSubmit()" #replyForm="ngForm">
                                    <div class="mb-3">
                                        <label for="message" class="form-label"><i class="fa-solid fa-reply"></i> To
                                            {{contactDetail.email}}</label>
                                        <textarea class="form-control" id="message" rows="3" [(ngModel)]="reply.message"
                                            name="message"></textarea>
                                    </div>
                                    <button class="btn btn-primary">send</button>
                                </form>
                                <span class="badge bg-success" [ngStyle]="{'display': alertDisply}">Message Sent</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>