<div class="container">
    <div class="row inbox-wrapper">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 email-aside border-lg-right">
                            <div class="aside-content">
                                <div class="aside-header">
                                    <button class="navbar-toggle" data-target=".aside-nav" data-toggle="collapse"
                                        type="button"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg"
                                                width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" class="feather feather-chevron-down">
                                                <polyline points="6 9 12 15 18 9"></polyline>
                                            </svg></span></button><span class="title">Mail Service</span>
                                    <p class="description">suport@recipe.com</p>
                                </div>
                                <div class="aside-compose"><a class="btn btn-primary btn-block"
                                        routerLink="/admin/compose-email">Compose Email</a></div>
                                <div class="aside-nav collapse">
                                    <ul class="nav">
                                        <li class="active"><a [routerLink]=" '/admin/inbox' "><span class="icon"><svg
                                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                        viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                        class="feather feather-inbox">
                                                        <polyline points="22 12 16 12 14 15 10 15 8 12 2 12"></polyline>
                                                        <path
                                                            d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z">
                                                        </path>
                                                    </svg></span>Inbox<span
                                                    class="badge badge-danger-muted text-black font-weight-bold float-right">{{countInbox}}</span></a>
                                        </li>
                                        <li><a routerLink="/admin/sent-emails"><span class="icon"><svg
                                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                        viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                        class="feather feather-mail">
                                                        <path
                                                            d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z">
                                                        </path>
                                                        <polyline points="22,6 12,13 2,6"></polyline>
                                                    </svg></span>Sent Mail</a></li>
                                        <li><a><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                        height="24" viewBox="0 0 24 24" fill="none"
                                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round" class="feather feather-briefcase">
                                                        <rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect>
                                                        <path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path>
                                                    </svg></span>All Email<span
                                                    class="badge badge-info-muted text-black font-weight-bold float-right">{{countAll}}</span></a>
                                        </li>

                                        <li><a routerLink="/admin/favorite"><span class="icon"><svg
                                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                        viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                        class="feather feather-star">
                                                        <polygon
                                                            points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                                        </polygon>
                                                    </svg></span>Favorite <span
                                                    class="badge badge-info-muted text-black font-weight-bold float-right">{{countFavorite}}
                                                </span></a></li>
                                        <li><a routerLink="/admin/trash"><span class="icon"><svg
                                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                        viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                        class="feather feather-trash">
                                                        <polyline points="3 6 5 6 21 6"></polyline>
                                                        <path
                                                            d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                                        </path>
                                                    </svg></span>Trash<span
                                                    class="badge badge-info-muted text-black font-weight-bold float-right">{{countTrash}}</span></a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 email-content">

                            <table class="table table-hover my-5" >
                                <thead>
                                    <tr>
                                        <th scope="col">Subject</th>
                                        <th scope="col">Message</th>
                                        <th scope="col">Created-On</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let contact of contacts">

                                        <td [ngStyle]="contact.isViewed? {'color': 'green'}:{'color': 'blue'}">
                                            {{contact.subject}}</td>
                                        <td [ngStyle]="contact.isViewed? {'color': 'green'}:{'color': 'blue'}"
                                            (click)="onClickView(contact.id)" style="cursor:pointer;">
                                            {{contact.message.length>60?(contact.message|slice:0:60) + '...'
                                            :(contact.message)}}</td>
                                        <td [ngStyle]="contact.isViewed? {'color': 'green'}:{'color': 'blue'}">
                                            {{contact.createdOn|date}}</td>

                                        <td>
                                            <div>
                                                <a (click)="onViewClickHandler(contact.id)" class="btn"><i
                                                        class="fa fa-eye" title="view"></i></a>
                                                <a (click)="onDeleteStatuses(contact.id)"
                                                    class="btn btn-block text-nowrap"><i class="fa fa-trash"
                                                        title="delete"></i> </a>
                                                <a (click)="onFavoriteClick(contact.id)"
                                                    class="btn btn-block text-nowrap"><i class="fa-solid fa-star"
                                                        title="favorite"
                                                        [ngStyle]="contact.isFavorite? {'color': 'orange'}:{'color': 'black'}"></i></a>


                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div *ngIf="contacts!= null && contacts.length> 0" class="my-5">
                                <mat-paginator (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize"
                                    [pageSizeOptions]="pageSizeOptions">
                                </mat-paginator>
                            </div>
                            <div *ngIf="contacts== null || contacts.length == 0" class="my-5">
                                <h1 class="text-center">No Message</h1>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>