<div class="container">
    <a [routerLink]=" '/add-unitofmeasure'" class="btn btn-primary my-5" >Add UnitOfMeasure </a>
<table class="table ">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Unit Of Measure </th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let unit of unitofmesures">
            <td>{{unit.id}}</td>
            <td>{{unit.name}}</td>
            <td>
                <div>
                  <!-- <a [routerLink]=" '/unitofmeasure/detail/' + unitofmeasure.id " class="btn"><i class="fa fa-eye"></i> View </a> -->
      
                  <a [routerLink]=" '/unitofmeasure/ ' + unit.id " class="btn"><i class="fa fa-edit"></i> Edit </a> 
      
                  <a (click)="onDelete(unit.id)" class="btn btn-block text-nowrap"><i class="fa fa-trash"></i> Delete </a>
                </div>
              </td>
        </tr>

    </tbody>
</table>
</div>